{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry", //polyfill会自动引入proyfill库文件 usage
        "targets": {
          "chrome": "67" //支持chrome67以上版本，是否有必要的es6=> es5
        }
      },
      "@babel/preset-react" //react语法编译
    ]
  ], //包含所有es6 => es5的规则
  "plugins": ["core-js@2.6.9"]
}
