{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "58",
          "ie": "9"
        }
      },
      "@babel/preset-react"
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
